.projects-container {
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
  padding-bottom: 10rem;
}

.projects-container h2 {
  color: white;
  padding: 0 0 35px 0;
  font-size: 2.5rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.project-card {
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 700px; 
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.project-card img {
  width: 100%; /* L'image occupe toute la largeur de la carte */
  height: 100%; /* L'image occupe toute la hauteur de la carte */
  object-fit: cover; /* Assure que l'image couvre toute la surface */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-card h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 5px 20px ;
  border-radius: 5px;
  font-size: 2rem;
  transition: bottom 0.3s ease-in-out;
  z-index: 2;
}

.project-card-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 20px;
  transition: bottom 0.3s ease-in-out;
  z-index: 2;
  color: white;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.project-card-content p {
  margin: 0 10px 10px; /* Ajoute une marge de chaque côté du texte et en bas */
  
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espace entre les icônes */
  margin-top: 10px;
  padding-bottom: 20px; /* Séparation entre le paragraphe et les icônes */
}

.project-links a {
  color: white;
  text-decoration: none;
  font-size: 2rem; /* Taille initiale des icônes */
  transition: transform 0.3s ease-in-out;
}

.project-links a:hover {
  transform: scale(1.5); /* Agrandit les icônes lors du survol */
}

.project-badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding-bottom: 10px; /* Séparation entre les icônes et les badges */
}

.badge {
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 12px; /* Arrondir un peu plus les badges */
  font-size: 1.2rem;
}

.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.project-card:hover::before {
  opacity: 1;
}

.project-card:hover h3 {
  bottom: 80%;
}

.project-card:hover .project-card-content {
  bottom: 0;
  opacity: 1;
  animation-name: fadeInUp;
}

/* Animation keyframes */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Responsive design */
@media (max-width: 800px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 476px) {
  .project-card {
    min-height: 500px; // Réduit la hauteur minimum des cartes
  }
  
  .project-card-content {
    padding: 10px; // Réduit le padding pour économiser de l'espace
  }

  .project-card h3 {
    font-size: 1.5rem; // Réduit la taille de la police du titre
  }

  .badge {
    font-size: 1rem; // Réduit la taille de la police des badges
  }

  .project-links a {
    font-size: 1.5rem; // Réduit la taille des icônes
  }
}

