.footer {
  position: relative; 
  width: 100%;
  color: #fff;
  text-align: center;
  // background-color: black;
}

.footer i {
  color: white;
  margin: 0 10px; 
  font-size: 2rem; 
  transition: transform 0.3s ease; 
}

.footer i:hover {
  transform: scale(1.5); 
}

.back-to-top {
  cursor: pointer;
}

.back-to-top i {
  padding-top: 2rem; // Ajoutez un espacement en bas de la flèche
  padding-bottom: 2rem;
  animation: blink 1s infinite; // Animation de clignotement
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
